@model List<PG2.Models.ViewModels.ListAtencionReqViewModels>
@{
    ViewBag.Title = "Home Page";
}
<style>
    .demo {
        border: 0px solid #C0C0C0;
        width:100%;
        height:100%;
/*        border-collapse: collapse;*/
/*        padding: 5px;*/
        
    }

        .demo th {
            border: 1px solid #C0C0C0;
            padding: 5px;
            background: #F0F0F0;
        }

        .demo td {
            border: 1px solid #C0C0C0;
            text-align: center;
            padding: 5px;
        }
</style>

<h2>PROYECTOS</h2>
<hr style="background:black; height:3px;" />

<div class="row" style="border:2px solid #ff0000;">
    @foreach (var oElemento in Model)
    {
        if (oElemento.Estatus == "In Process")
        {
            <div class="col-md-3">
                  <table class="demo">    
                      <thead>
                          <tr>
                              <th colspan="3">@oElemento.Nombre_Requerimiento</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td colspan="3">@oElemento.Descripcion_Requerimiento</td>
                          </tr>
                          <tr>
                              <td>@oElemento.Fecha_Requirimiento.ToString("dd/MM/yyyy")</td>
                              <td></td>
                              <td>@oElemento.Dependencia_SN</td>
                          </tr>
                          <tr>
                              <td></td>
                              <td></td>
                              <td>@oElemento.Estatus</td>
                          </tr>
                      <tbody>
                  </table>
            </div>
        }
    }
</div>

<div class="row" style="border:2px solid #ff0000;">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th colspan="9" style="background:#C0C0C0;">Listado de Requerimientos ...</th>
            </tr>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Estatus</th>
                <th>Colaborador</th>
                <th>Dependencia</th>
                <th>Motivo</th>
            </tr>
            @foreach (var oElemento in Model)
            {

                <tr>
                    <td style="text-align:center;">@oElemento.Id_Requerimiento</td>
                    <td>@oElemento.Nombre_Requerimiento</td>
                    <td>@oElemento.Descripcion_Requerimiento</td>
                    <td>@oElemento.Fecha_Requirimiento.ToString("dd/MM/yyyy")</td>
                    <td>@oElemento.Estatus</td>
                    <td>@oElemento.Colaborador_Atiende</td>
                    @if (oElemento.Dependencia_SN == "2")
                    {
                        oElemento.Dependencia_SN = "NO";
                    }
                    else
                    {
                        oElemento.Dependencia_SN = "SI";
                    }
                    <td style="text-align:center;" >@oElemento.Dependencia_SN</td>
                    <td>@oElemento.Motivo_Dependencia</td>
                </tr>

            }
        </table>
    </div>
</div>