@model List<PG2.Models.ViewModels.ListAtencionReqViewModels> 
@{
    ViewBag.Title = "Home Page";
}


<h2>PROYECTOS</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" >
            <tr>
                <th>#</th>
                <th>#R</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Estatus</th>
                <th>Colaborador</th>
                <th>Dependencia</th>
                <th>Motivo</th>
            </tr>
            @foreach (var oElemento in Model) { 
                
                <tr>
                    <td>@oElemento.Id_Atencion</td>
                    <td>@oElemento.Id_Requerimiento</td>
                    <td>@oElemento.Nombre_Requerimiento</td>
                    <td>@oElemento.Descripcion_Requerimiento</td>
                    <td>@oElemento.Fecha_Requirimiento.ToString("dd/MM/yyyy")</td>
                    <td>@oElemento.Estatus</td>
                    <td>@oElemento.Colaborador_Atiende</td>
                    @if (oElemento.Dependencia_SN == "2") {
                        oElemento.Dependencia_SN = "NO";
                    } else {
                        oElemento.Dependencia_SN = "SI";
                    }
                    <td>@oElemento.Dependencia_SN</td>
                    <td>@oElemento.Motivo_Dependencia</td>
                </tr>
            
            }
        </table>
    </div>
</div>