@model List<PG2.Models.ViewModels.ListAtencionReqViewModels>

@{
    ViewBag.Title = "Home Page";
}
<style>

    body {
        background: #f2f4f4;
    }

    .demo {
        border: 0px solid #ff0000;
        width:100%;
        height:100%;
/*        border-collapse: collapse;*/
/*        padding: 5px;*/
        
    }

        .demo th {
            border: 0px solid #ff0000;
        }

        .demo td {
            border: 0px solid #C0C0C0;
            text-align: center;
        }

    #stick.hover {
        
    
    }
    .Sticker {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
        height: 140px;
        -webkit-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
        text-decoration: none;
    }


    #table {
        -webkit-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.75);
    }

    #ite {

    }

    .ha {
        border:0px solid #ff0000;
        padding:0px;
        text-decoration:none;
    }


</style>
<script>

    function detalle_requerimiento() {


    }

</script>

<h2>PROYECTOS</h2>
<hr style="background:black; height:3px;" />

<div id="stick" class="row" style="border:0px solid #ff0000; padding-top:25px; margin-bottom:25px; align-content:;">
    @foreach (var oElemento in Model)
    {


        if (oElemento.Dependencia_SN == "2")
        {
            oElemento.Dependencia_SN = "NO";
        }
        else
        {
            oElemento.Dependencia_SN = "SI";
        }

        if (oElemento.Estatus == "In Process")
        {
            if (ViewBag.Mensaje == oElemento.Colaborador_Atiende)
            {
                <a class="col-md-3 ha"  href="#ventana_requerimiento" data-toggle="modal">
                <div id="Sticker" role="button"  class=" Sticker" style="color: white; border: 2px solid #34495e; padding: 10px; margin-left: 25px; margin-bottom: 25px; background-color: #34495e; ">
                    <table class="demo" >
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align:center;">@oElemento.Nombre_Requerimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" style="text-decoration:none;">@oElemento.Descripcion_Requerimiento</td>
                            </tr>
                            <tr>
                                <td>@oElemento.Fecha_Requirimiento.ToString("dd/MM/yyyy")</td>
                                <td></td>
                                <td>@oElemento.Dependencia_SN</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@oElemento.Estatus</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
                </a>
            }
        }
    }
</div>

<div class="row" style="border:0px solid #ff0000;">
    <div class="col-md-12" role="button" >
        <table id="table" class="table table-hover">
            <tr>
                <th colspan="9" style="background: #2e4053; color:white;">Listado de Requerimientos ...</th>
            </tr>

            @foreach (var oElemento in Model)
            {
                if (ViewBag.Mensaje == oElemento.Colaborador_Atiende)
                {

                    <tr style="margin-bottom:50px;">
                        <td style="text-align:center;">@oElemento.Id_Requerimiento</td>
                        <td>@oElemento.Nombre_Requerimiento</td>
                        <td>@oElemento.Descripcion_Requerimiento</td>
                        <td>@oElemento.Fecha_Requirimiento.ToString("dd/MM/yyyy")</td>
                        <td>@oElemento.Estatus</td>
                        <td>@oElemento.Colaborador_Atiende</td>
                        @if (oElemento.Dependencia_SN == "2")
                        {
                            oElemento.Dependencia_SN = "NO";
                        }
                        else
                        {
                            oElemento.Dependencia_SN = "SI";
                        }
                        <td style="text-align:center;">@oElemento.Dependencia_SN</td>
                        <td>@oElemento.Motivo_Dependencia</td>
                    </tr> 
                }
            }
        </table>
    </div>

</div>

<div class="modal fade" id="ventana_requerimiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header-->
            <div class="modal-header">
                <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4></h4>
            </div>
            <!---body-->
            <div class="modal-body">
                <p>hola mundo</p>
            </div>
            <!--footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
                <button></button> 
            </div>
        </div>
    </div>
</div>